@import url(https://fonts.bunny.net/css?family=libre-baskerville:400,400i,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #090707;
  --background: #eee9e8;
  --primary: #562e20;
  --secondary: #e1d9d6;
  --accent: #876d64;
}

.hidden {
  display: none;
}

.bg {
  background-color: var(--background);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-accent {
  background-color: var(--accent);
}

.italic {
  font-style: italic;
}

.fw-normal {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.container {
  display: grid;
  grid-template: max(5%, 50px) 1fr / 4fr 1fr;
  height: 100vh;
  font-family: Libre Baskerville;
  color: var(--text);
}

.header {
  grid-column: 1/3;
  text-align: center;
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 20px 0px grey;
  z-index: 1;
}

.sidebar {
  border-left: solid #755e57 2px;
  box-shadow: -1px 9px 13px 0px grey;
  z-index: 2;
}

.books {
  display: grid;
}

.image-wrapper {
  position: relative;
  grid-column: span 2;
  width: min-content;
}

.book-icon {
  fill: color-mix(in lch, var(--primary), var(--accent));
}

.card {
  display: grid;
}

/* CARD LAYOUT */

.books.card-layout {
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 200px));
  grid-auto-rows: min-content;
}

.card-layout .image {
  height: 150px;
  width: 150px;
  margin-block: 5px 10px;
}

.card-layout .card {
  grid-template: repeat(4, min-content) / repeat(2, 1fr);
  justify-items: center;
  gap: 2px;
  padding: 0.5rem;
}

.card-layout .image,
.card-layout .title,
.card-layout .author {
  grid-column: 1/3;
}

.card-layout .pages,
.card-layout .progress {
  grid-column: auto;
}

.card-layout .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: center;
}

.card-layout .image-done {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  scale: 0.8;
  fill: var(--background);
}

/* LINE LAYOUT */
